<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Maven.test1Test">
      <methods>
      <include name="m1"></include>
      </methods>
      </class>
      <class name="Maven.test2Test"/>
      <class name="Maven.test3Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
